body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
  }


html {
    scroll-behavior: smooth;
}


input:focus {
    border: .5px solid rgba(245, 245, 245, 0.514);
}

.text-shadow {
    text-shadow: 1px 1px #000;
}

.letter-spacing {
    letter-spacing: 1px;
}